/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.volume-container {
    height: 300px; /* Set the height of the container to determine the vertical length of the bar */
    width: 20px; /* Set the width of the container to determine the bar's thickness */
    background-color: #ccc;
    position: relative;
}

.volume-level {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: green;
    transition: height 0.3s;
}

.volume-text {
    font-size: xx-large;
    margin-top: 10px;
    text-align: center;
}
